* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
  line-height: 1.6;
}

.features {
  background-color: hsl(218, 28%, 13%);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  justify-content: center;
  justify-items: center;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 70%;
  padding-top: 100px;
}

/*navbar*/

@media screen and (max-width: 600px) {
  .nav-links.show {
    display: flex;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-expand-lg {
    display: flex;
    flex-flow: row nowrap;
  }
}
@media only screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    /* flex-basis: auto; */
    justify-content: flex-end;
  }
}

.productive_container {
  background-color: hsl(218, 28%, 13%);
  width: 100%;
  height: 100%;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  margin-bottom: -60px;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}
ul {
  list-style: none;
}
.navbar-light .navbar-nav .nav-link {
  color: #ffffff !important;
}
.navbar-light .navbar-brand {
  color: #ffffff !important;
}

/*header*/
.main {
  padding: 5rem 0;
  background-color: hsl(217, 28%, 15%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;
}
.hero-img {
  width: 40%;
  min-width: 280px;
  margin: 2rem 0;
}

.hero-txt {
  text-align: center;
}
.hero-txt h1 {
  width: 55%;
  margin: 0 auto;
}

.hero-txt p {
  margin: 2rem auto;
  width: 43%;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.hero-txt a {
  font-weight: 700;
  color: #fff;
  background: linear-gradient(90deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  padding: 15px 80px;
  border-radius: 40px;
  transition: background-color 0.5s linear;
}
a {
  text-decoration: none;
  display: inline-block;
}

.cardCOntainer {
  background-color: hsl(218, 28%, 13%);
}
@media only screen and (max-width: 600px) {
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .features {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    justify-content: center;
    justify-items: center;
    padding-top: 11rem;
  }

  .features p {
    width: 85%;
  }
  .hero-img {
    width: 40%;
    min-width: 280px;
    margin-top: 120px;
  }
  .hero-txt {
    text-align: center;
  }
  .hero-txt h1 {
    width: 100%;
    font-size: 1.2rem;
  }
  .hero-txt p {
    margin: 1rem auto;
  }
  .hero-txt p {
    width: 100%;
    font-size: 1rem;
    margin: 1rem auto;
  }
  main {
    margin: 0;
  }

  .productive {
    padding: 10px;
  }
}

.productive_container {
  background-color: hsl(218, 28%, 13%);
}
.productive {
  display: flex;
  align-items: center;
  gap: 5rem;
  padding: 100px;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.productive-txt {
  max-width: 550px;
}

.productive p {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  .productive {
    display: block;
  }
  .productive-txt {
    padding: 20px;
    margin-top: 40px;
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .navbar-toggler {
    background-color: #ffffff !important;
  }
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    margin-bottom: -190px !important;
  }

  body {
    overflow-x: hidden;
  }
}
.footer {
  background-color: #0b1523;
  color: #ffffff;
  padding: 70px;
  text-align: center;
}
